:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;
}

.date-pickers {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.searchbar {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}



.date-pickers mat-form-field {
  padding: 1rem 1rem 0;
}

.charts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem 4rem;
  gap: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.flex-container > div {
  background-color: black;
  margin: 30px;
  padding: 20px;
  font-size: 50px;
  color: blanchedalmond;
  flex:30%;
}
