<!-- test de toolbar simple -->
<mat-toolbar class="navbar" color="primary">
  <button mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Airport sensors panel</span>
  <span class="example-spacer"></span>

  <mat-button-toggle-group class="toggleGroup">
    <mat-button-toggle value="all" (change)="updatePage(false)">All Datas</mat-button-toggle>
    <mat-button-toggle value="avg" (change)="updatePage(true)">Average</mat-button-toggle>
  </mat-button-toggle-group>
</mat-toolbar>

<main class="content" role="main">


  <mat-form-field class="searchbar">
    <input type="text" [(ngModel)]="airport" (change)="refreshAll()" matInput placeholder="Search">
  </mat-form-field>

  <div *ngIf="!displayAvg">
    <div class="date-pickers">
      <mat-form-field>
        <input matInput (dateChange)="getMeasures()" [ngxMatDatetimePicker]="pickerFrom" placeholder="From date & time"
          [(ngModel)]="startDate">
        <mat-datepicker-toggle matSuffix [for]="$any(pickerFrom)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #pickerFrom [enableMeridian]="true"></ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-form-field>
        <input matInput (dateChange)="getMeasures()" [ngxMatDatetimePicker]="pickerTo" placeholder="To date & time"
          [(ngModel)]="endDate" [min]="startDate">
        <mat-datepicker-toggle matSuffix [for]="$any(pickerTo)"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker #pickerTo [enableMeridian]="true"></ngx-mat-datetime-picker>
      </mat-form-field>
    </div>

    <div class="charts">
      <app-line-chart [measures]="listTemp" measureType="Temp"></app-line-chart>
      <app-line-chart [measures]="listWind" measureType="Wind"></app-line-chart>
      <app-line-chart [measures]="listPress" measureType="Press"></app-line-chart>
    </div>
  </div>

  <div *ngIf="displayAvg">
    <div class="date-pickers">
      <mat-form-field>
        <input matInput [(ngModel)]="avgDate" (dateChange)="getAverageMeasures()" [matDatepicker]="picker"
          placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="flex-container">
      <div>{{ listAverage.temp }}</div>
      <div>{{ listAverage.wind }} </div>
      <div>{{ listAverage.pressure }}</div>
    </div>
  </div>

</main>
<!--<footer class="navbar">-->
<!--  <mat-checkbox [(ngModel)]="checked">Checked</mat-checkbox>-->
<!--</footer>-->